body {
    background-color: rgba(245, 13, 206, 0.472);
  }
  
  h1 {
    text-align: center;
  }
  
  .data {
    width: 30%;
    border: 1px solid;
    margin: auto;
    padding: 8rem;
    background-color: rgba(244, 224, 12, 0.342);
  }
  input {
    width: 80%;
    display: block;
    margin: auto;
    padding: 0.6rem 0.6rem;
    border: none;
    border-radius: 0.5rem;
  }
  
  .list {
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  p {
    margin-left: 2rem;
    color: red;
  }